<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NBA UI Full</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  </head>
  <body>


    <div class="top-bar" id="realEstateMenu">
      <div class="top-bar-left">
        <ul class="menu" data-responsive-menu="accordion">
          <li class="menu-text">NBA UI</li>
          <li><a href="{% url 'games:index' %}">Games</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="#">My Account</a></li>
          <li><a class="button">Login</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      {% block content %}
      {% endblock %}
    </div>

  </body>
  {% load staticfiles %}
  <script type="module" src="{% static 'main.js' %}"></script>
</html>
